html, 
body {
    margin:0;
    padding:0;
    font-family: 'Scheherazade New', serif;
    background-color: #f5f5f5;
    line-height: 1.3333;
}

.text-light {
  color: #999 !important;
}

nav.navbar {
  background-color: #333;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.075);
}
@media (min-width: 768px)
{
  html:not([data-scroll='0']) nav.navbar {
    background-color: #333;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.075);
  }
  
  nav.navbar,
  html:not([data-scroll]) nav.navbar,
  html[data-scroll='0'] nav.navbar {
    background-color: transparent;
    transition: background-color ease-in .15s;
    box-shadow: none;
  }
  html:not([data-scroll]) nav.navbar.opened,
  html[data-scroll='0'] nav.navbar.opened {
    background-color: #333;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.075);
  }
}


.navbar-brand {
  font-size: 1.5rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f7f7f7;
}


.cover,
.cover-content,
.cover:before,
.cover:after {
    height: 60vh;
    min-height: 400px;
    max-height: 500px;
}
.cover-content {
  position: relative;
}
.cover,
.cover:before,
.cover:after {
    content: '';
    position: absolute;
    top:0;
    width: 100%;
}
.cover:before { 
    background-image: url(../assets/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-attachment: scroll;
    display: block;
  }
  .cover:after { 
    opacity: 0.85;
    background-color: #333;
  }
  .cover-content .cover-title {
    line-height: 1
  }
  .cover-content .cover-title .header {
    font-size: 1.65em;
    color: #f8f9fa;
  }
  .cover-content .btn-outline {
    color: #999;
    border-color: #6c757d;
    background-color: transparent;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: border-color ease-in .2s, color ease-in .2s, background-color ease-in .2s,;
  }
  .cover-content .btn-outline:hover {
    color: #f7f7f7;
    border-color: #6c757d;
    background-color: #6c757d;
  }
.options .feather {
  width: 60px;
  height: 60px;
  stroke: #dc3545 !important;
}
.options .card {
  border-radius: 1px;
  transition: transform .1s linear;
}
.options .card-link {
  text-decoration: none;
  color: inherit;
}
.options .card-link:hover {
  color: inherit;
}
.options .card-link:hover > .card {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  transform: scale(101%);
}
.bg-image {
  cursor: pointer;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
}
.bg-image:not(.no-hover):after {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  transition: background-color ease-in 0.2s;
}
.bg-image:not(.no-hover):hover:after {
  background-color: rgba(255,255,255,.25);
}

#gallery .bg-image {
  min-height: 300px;
}
.carousel-item .bg-image {
  height: 100px;
}
#modalImage.bg-image {
  height: 350px;
  background-size: 100%;
}

@media (min-width: 768px) {
  #modalImage.bg-image {
    height: 70vh;
    background-size: cover;
  }
  .carousel-item .bg-image {
    height: 20vh;
    background-size: cover;
  }
}

footer {
  position: relative;
  color: #f5f5f5;
  padding: 50px 0;
  background-color: rgba(51,51,51, 0.95);
}
@media (min-width: 768px) {
  .cover:before {
    background-position: center center;
  }
  .cover .cover-title .header {
    font-size: 4em;
  }
  .options {
    transform: translateY(-100px);
  }
  .options + * {
    margin-top: -50px;
  }
}

.modal-content {
  max-height: 95vh;
}

.modal .btn-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}
.carousel-control-next, 
.carousel-control-prev {
  position: relative;
  width: auto;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}